body{
  text-aling:center;
  background-image: url('../img/bg2.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.tc{
  text-align: center;
  margin-top:20px;
}

.wrapper{
  margin: auto;
}
.wdefault{
  width:100px;
}
.mleft{
  margin-left:10px;
}
h1{
  background-color: rgba(0, 0, 0, 0.6);
  padding:40px;
  text-aling:center;
  color:white;
  margin: auto;
  margin-bottom:10px;
  border-radius: 25px;
  width: 400px;
}

.customTempDiv{
  margin: 40px auto 40px auto;
  max-width: 400px;
}
